.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    position: absolute;
    background-color: #d3531a;
    height: 3px;
    width: 100%;
    display: block;
    border-radius: 1px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(-45deg);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(45deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: opacity(0);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    filter: opacity(1);
    opacity: 1;
}

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient( 263deg, rgba(252, 74, 74, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.navbar-toggler .toggler-icon {
    background: linear-gradient( 263deg, rgba(252, 74, 74, 1) 0%, rgba(0, 212, 255, 1) 100%);
}